/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 18, 2014, 10:45:16 AM
    Author     : sashi
*/

#accountSettings {
    font-style: oblique;
    font-weight: bolder;
    background-color: #fff;
    color: #00bf8f;
}