
.AccountSetting  {
    position: relative;
    padding: 55px;

}


.AccountSetting .form-horizontal-heading {
    padding-left:20%;
    color:black;
}

.AccountSetting .form-horizontal .form-horizontal-main {
    position: relative;
    top:15px;

}

.AccountSetting .form-horizontal-main .form-group {
    padding-left:4%;
}

.AccountSetting .form-horizontal-main .form-group .lab1 {
    color:black;


}

.AccountSetting .form-horizontal-main .form-group .name1 {
    width: 70%;


}

.AccountSetting .form-horizontal-main .form-password {
    padding-top: 1px;
    padding-left: 3%;

}

.AccountSetting .form-horizontal-main .form-password .pass1 {
    width: 71%;

}

.AccountSetting .form-horizontal-main .form-confirmPassword {

    padding-top: 51px;
    padding-left: 2.5%;

}

.AccountSetting .form-horizontal-main .form-confirmPassword .lab3 {

    padding-left: 1%;


}

.AccountSetting .form-horizontal-main .form-confirmPassword .pass2 {

    width: 71%;

}



.AccountSetting .form-horizontal-main .form-summit {

    padding-top: 70px; 
    padding-left: 69%;
    margin-left: 62%;


}

@media(max-width:768px) {
    .AccountSetting .form-horizontal h2 {
        font-size: 21px;
        padding-left: 7px;
    }



    .AccountSetting  {
        position: relative;
        padding: 15px;

    }


    .AccountSetting .form-horizontal-heading {
        padding-left:20%;
        color:black;
    }

    .AccountSetting .form-horizontal .form-horizontal-main {
        position: relative;
        top:15px;

    }

    .AccountSetting .form-horizontal-main .form-group {
        padding-left:4%;
    }

    .AccountSetting .form-horizontal-main .form-group .lab1 {
        color:black;


    }

    .AccountSetting .form-horizontal-main .form-group .name1 {
        width: 70%;


    }

    .AccountSetting .form-horizontal-main .form-password {
        padding-top: 1px;
        padding-left: 0%;

    }

    .AccountSetting .form-horizontal-main .form-password .pass1 {
        width: 73%;

    }

    .AccountSetting .form-horizontal-main .form-confirmPassword {

        padding-top: 15px;
        padding-left: 0%;

    }

    .AccountSetting .form-horizontal-main .form-confirmPassword .lab3 {

        padding-left: 1%;


    }

    .AccountSetting .form-horizontal-main .form-confirmPassword .pass2 {

        width: 71.5%;

    }




    .AccountSetting .form-horizontal-main .form-summit {

        padding-top: 15px; 
        padding-left: 4%;


    }






}


